/* Custom Styles */

body {
    /* font-family: "Inter", sans-serif; */
    font-family: 'Poppins', sans-serif;
}


/* Fonts */


/* inter-300 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Poppins-Light.eot");
    /* IE9 Compat Modes */
    src: local(""), url("/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Poppins-Light.woff2") format("woff2"), /* Super Modern Browsers */
    url("/fonts/Poppins-Light.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Poppins-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Poppins-Light.svg#Poppins-Light") format("svg");
    /* Legacy iOS */
}


/* inter-500 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.eot");
    /* IE9 Compat Modes */
    src: local(""), url("/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Poppins-Medium.woff2") format("woff2"), /* Super Modern Browsers */
    url("/fonts/Poppins-Medium.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Poppins-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
    /* Legacy iOS */
}


/* inter-700 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.eot");
    /* IE9 Compat Modes */
    src: local(""), url("/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Poppins-Bold.woff2") format("woff2"), /* Super Modern Browsers */
    url("/fonts/Poppins-Bold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Poppins-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
    /* Legacy iOS */
}

.anooptube-logo {
    height: 3.8rem !important;
}

.h-70 {
    height: 20rem;
}

.h-75 {
    height: 24rem;
}

.anooptube-blogtitle {
    font-weight: 500 !important;
    font-size: 2.025rem !important;
    margin-bottom: 0.25rem !important;
}

.anooptube-blogtitle-fontFamily-Michroma {
    font-family: 'Michroma', sans-serif !important;
}

.anooptube-blogtitle-fontFamily-Playball {
    font-family: 'Playball', cursive !important;
}

.anooptube-corner-rad {
    border-radius: 1rem !important;
}

.anooptube-padding {
    padding: 10px !important;
    text-align: center;
}

.anooptube-text-align-center {
    text-align: center;
}

.anooptube-letter-spacing-for-michroma {
    letter-spacing: 0.05em;
}

.anooptube-word-spacing-for-michroma {
    word-spacing: 0.5rem;
}

.anooptube-ad-horizontal-height {
    height: 100px !important;
}

mark {
    padding: 0.25rem !important;
    border-radius: 0.4rem !important;
    border-color: rgb(0, 0, 0) !important;
    text-decoration: none !important;
}