<section class="{{ .Site.Params.ascentColor | default " bg-pink-50 " }} dark:bg-gray-900">
    <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
        <div>
            <h1 class="anooptube-blogtitle-fontFamily-Michroma text-2xl font-bold mb-8">{{ .Site.Params.introTitle | safeHTML}}</h1>
            <h1 class="anooptube-blogtitle-fontFamily-Playball text-4xl font-regular mb-8">{{ .Site.Params.introSubtitle | safeHTML}}</h1>
        </div>
        <img class="rounded-lg shadow-sm" src="{{ .Site.Params.introPhoto }}" alt="{{ .Site.Title }}" />
    </div>
</section>