<div class="">
    <div class="rounded anooptube-corner-rad {{ .Site.Params.ascentColor | default " bg-pink-50 " }} dark:bg-gray-900 container  px-6 py-12 mx-auto max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
        <div>
            <div class="text-2xl font-bold mb-2  anooptube-blogtitle-fontFamily-Michroma">{{ .Site.Params.homepage.social.title }}</div>
            <p class="opacity-60">{{ .Site.Params.homepage.social.description }}</p>
        </div>
        <ul class="flex justify-end gap-6">
            {{ with .Site.Params.homepage.social.portfolio }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="Twitter" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i width="24" height="24" class="fa fa-briefcase" aria-hidden="true"></i>    
                </a>
            </li>
            {{ end }}
            {{ with .Site.Params.homepage.social.twitter }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="Twitter" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.linkedin }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="LinkedIn" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.xing }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="xing" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-xing" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.github }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="GitHub" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.medium }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="Medium" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-medium" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.reddit }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="Medium" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 8c2.648 0 5.028 .826 6.675 2.14a2.5 2.5 0 0 1 2.326 4.36c0 3.59 -4.03 6.5 -9 6.5c-4.875 0 -8.845 -2.8 -9 -6.294l-1 -.206a2.5 2.5 0 0 1 2.326 -4.36c1.646 -1.313 4.026 -2.14 6.674 -2.14z"
            />
            <path d="M12 8l1 -5l6 1" />
            <circle cx="19" cy="4" r="1" />
            <circle cx="9" cy="13" r=".5" fill="currentColor" />
            <circle cx="15" cy="13" r=".5" fill="currentColor" />
            <path d="M10 17c.667 .333 1.333 .5 2 .5s1.333 -.167 2 -.5" />
          </svg>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.dribbble }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="Dribbble" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-dribbble" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 3.6c5 6 7 10.5 7.5 16.2" />
            <path d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4" />
            <path d="M3.1 10.75c5 0 9.814 -.38 15.314 -5" />
          </svg>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.youtube }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="YouTube" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.instagram }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="Instagram" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.stackoverflow }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="stackoverflow" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-stackoverflow" width="23" height="23" viewBox="-135 22 32 38" stroke-width="0.2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="-108.5,56.2 -108.5,46.3 -105.2,46.3 -105.2,59.5 -135,59.5 -135,46.3 -131.7,46.3 -131.7,56.2       "/>
            <path d="M-128,45.4l16.2,3.4l0.7-3.2l-16.2-3.4L-128,45.4z M-125.9,37.6l15,7l1.4-3l-15-7L-125.9,37.6z     M-121.7,30.2l12.7,10.6l2.1-2.5l-12.7-10.6L-121.7,30.2z M-113.5,22.4l-2.7,2l9.9,13.3l2.7-2L-113.5,22.4z M-128.4,52.9h16.6    v-3.3h-16.6V52.9z"/>
          </svg>
                </a>
            </li>
            {{ end }} {{ with .Site.Params.homepage.social.tiktok }}
            <li>
                <a href="{{.}}" target="_blank" rel="noopener" aria-label="tiktok" class="p-2 inline-block rounded-full border border-transparent text-gray-500 hover:text-gray-800 hover:border-gray-800 cursor-pointer transition-colors dark:text-gray-600 dark:hover:border-gray-300 dark:hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok" width="23" height="23" viewBox="0 0 448 512" stroke-width="30" stroke="currentColor" fill="none">
            <path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/>
          </svg>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>